@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


/* 
---------------------------------------------
trainers
--------------------------------------------- 
*/

#trainers { 
  padding-bottom: 90px; 
}

#trainers .trainer-item {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  padding: 15px;
  margin-bottom: 30px;
}

#trainers .trainer-item img {
  width: 100%;
  border-radius: 5px;
}

#trainers .trainer-item span {
  font-size: 13px;
  font-weight: 500;
  color: #ed563b;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 10px;
}

#trainers .trainer-item h4 {
  font-size: 19px;
  font-weight: 600;
  color: #232d39;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
}

#trainers .trainer-item p {
  margin-bottom: 20px;
}

ul.social-icons li {
  display: inline-block;
  margin-right: 12px;
}

ul.social-icons li:last-child {
  margin-right: 0px;
}

ul.social-icons li a {
  color: #232d39;
  transition: all .3s;
}

ul.social-icons li a:hover {
  color: #ed563b;
}









/* 
---------------------------------------------
responsive
--------------------------------------------- 
*/


@media (max-width: 992px) {

  
  .trainer-item {
    margin-bottom: 30px;
  }
  

}

